root {
    height: 100vh;
    width: 100vw;

    margin: 0%;
    padding: 0;

    box-sizing: border-box;
}

#map-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}

#map {
    height: auto;
    width: 50%;
    display: block;

    object-fit: contain;
    object-position: center;
}

#top {
    height: 75vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

#bottom {
    height: 25vh;
    width: 100vw;
}

