#map-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    display: block;
}

#left {
    height: 100%;
    width: 25vw;

    display: flex;
    justify-content: center;
}

#right {
    height: 100vh;
    width: 75vw;
    
    margin:10px;

}

#country-facts {
    display: flex;
    flex-direction: column;
}

.country-li {
    list-style-type: none;

    font-size: 1.5rem;
}