#map-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}

#map {
    height: 100%;
    width: 50%;
    display: block;

}

#top {
    height: 75vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

#bottom {
    height: 25vh;
    width: 100vw;
    
    margin:10px;

    border-top: 2px black solid;

    display: flex;
    justify-content: center;
    align-items: center;
}